@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&display=swap");
* {
  box-sizing: border-box; /*so padding and border doesnt effect the width and height of the element*/
}

body {
  font-family: "Roboto", sand-serif;
  margin: 0;
  min-height: 60vh; /* we need to assign a height so the items knows where to center*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e429f;
}
h1 {
  color: yellow;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  font-size: 38px;
  margin-top: 80px;
  text-align: center;
}
.search-bar {
  width: 700px;
  max-width: 100%;
  padding: 13px 17px;
  border-radius: 8px;
  border: none;
  color: #1e429f;
}
input::placeholder {
  color: #b4c6fc;
}
.search-bar:focus {
  outline: none;
}
.user-pic {
  margin-top: -40px;
}
.my-pic {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 3px solid #1e429f;
  object-fit: cover;
}
.card {
  width: 900px;
  height: 300px;
  margin-top: 30px;
  background-color: white;
  padding: 10px 40px;
  border-radius: 20px;
  background-color: #b4c6fc;
  border: 3px solid white;
}
.card-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #1e429f;
}
h4 {
  font-size: 30px;
  color: #1e429f;
}
p {
  margin-top: -17px;
}
ul {
  list-style: none;
  padding-bottom: 10px;
  padding-left: 0;
}
p {
  margin-bottom: 30px;
  font-size: 20px;
}
ul li {
  display: inline;
  font-size: 18px;
}
ul li a {
  text-decoration: none;
  color: white;
}
ul.follow li {
  margin-right: 80px;
  font-weight: bold;
  color: rgb(249, 249, 31);
}

ul.repo-names li {
  margin-right: 30px;
  background-color: #1e429f;
  padding: 7px;
  border-radius: 3px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 25px;
  }
  .search-bar {
    width: 340px;
  }
  .user-pic {
    margin-top: 20px;
  }
  .my-pic {
    width: 70px;
    height: 70px;
  }
  h4 {
    text-align: center;
    margin-top: 13px;
  }
  p {
    text-align: center;
  }
  .card {
    width: 340px;
    height: 610px;
  }
  .card-inner {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  ul.follow li {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  ul.repo-names {
    display: flex;
    flex-direction: column;
  }
  ul.repo-names li {
    margin: 3px auto;
  }
  ul.repo-names li a {
    display: inline-block;
  }
}
@media (min-width: 768px) and (max-width: 912px) {
  .card {
    width: 730px;
    height: 320px;
  }
  ul.repo-names {
    display: flex;
  }
  ul.repo-names li {
    margin: 3px auto;
  }
  ul.repo-names li a {
    display: inline-block;
  }
}
